# Sayt domeni
DOMAIN=guber.uz

# Quyidagilarni cf-setup o'zi to'ldiradi (qo'lda yozish shart emas)
CF_TUNNEL_TOKEN=
COMPOSE_PROFILES=

# Tunnel protokoli: auto | http2 | quic  (internet uzilib tursa "http2" qilib ko'ring)
CF_PROTOCOL=auto
